body {
    margin: 0;
}

ul {
    margin: 3px;
    padding-left: 0;
}


.background {
    background-color: #f5f5dd;
}

header {
    background-color: #ffffff;
    border-bottom: solid 1px #cccccc;
    min-width: 960px;
}

header div {
    width: 960px;
    margin: 0 auto;
}

#logo_text {
    font-size: 14px;
    margin: 0 0 10px 0;
    text-align: left;
    color: #664433;
}

.head_li_first {
    display: inline-block;
    width: 19%;
}

.head_li {
    display: inline-block;
    width: 19%;
    border-left: solid 1px #E9DBCC;
    line-height: 16px;
}

.head_li_a {
    text-decoration: none;
    color: #664433;
    display: block;
    width: 180px;
    text-align: center;
}

.box_cook {
    width: 180px;
    height: 20px;
    padding: 3px;
}

.box_recipe {
    width: 80px;
    height: 28px;
    background-color: #f8f8f8;
    font-size: 12px;
}

.main_image {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 13px;
}

.s_one {
    background-color: #ffffff;
    height: auto;
    margin-bottom: 15px;
    padding-bottom: 2px;
}

.s_two {
    background-color: #ffffff;
    height: auto;
    padding-bottom: 2px;
}

nav section {
    padding: 5px;
    width: 190px;
}

nav ul {
    padding-left: 5px;
}

nav ul li {
    background: url(arrow.png) left 0px top 5px no-repeat;
    list-style: none;
    text-align: left;
    padding: 0px 0 5px 20px;
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #000000;
    display: block;
}
    
article {
    border: none;
    width: 585px;
    margin: 0 10px;
}

.indent {
    text-indent: 1em;
}

article ul {
    padding-left: 0px;
    text-align: center;
}

article ul li {
    display: inline-block;
    width: 19%;
    font-size: 8px;
}

article section {
    background-color: #ffffff;
    padding: 5px 5px 20px 5px;
    margin-bottom: 18px;
}

article section p {
    margin-bottom: 10px;
}

.sec_box {
    width: 570px;
    display: inline-block;
}

.sec_box_left {
    width: 240px;
    height: auto;
    float: left;
    text-align: center;
    margin: 0 15px 0 3px;
}

.sec_box_right {
    width: 295px;
    height: auto;
    float: left;
}

article section p {
    font-size: 15px;
    margin: 0 0 7px 0;
    line-height: 130%
}

article section a {
    color: #fc8833;
    text-decoration: none;
    background: url("arrow.png") left 0px top 1px no-repeat;
    padding: 0 13px 10px 20px;
    font-size: 15px;
}

h2 {
    background-color: #99bb22;
    height: 28px;
    border-radius: 16px;
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    margin-top: 6px;
    background-image: url("dish.png");
    background-position: bottom 5px left 17px;
    background-repeat: no-repeat;
    padding: 3px 0px 2px 45px;
}

h3 {
    margin: 0 0 5px 0;
    color: #664433;
    font-size: 15px;
}

aside {
    width: 100px;
}

aside section {
    margin-bottom: 10px;
}


footer {
    background-color: #ffffff;
    text-align: center;
    border-top: solid 1px #cccccc;
    min-width: 960px;
}

footer ul {
    margin: 10px 0;
}

footer ul li {
    display: inline-block;
    font-size: 13px;
}

footer ul li+li {
    display: inline-block;
    font-size: 13px;
    border-left: solid 1px #E9DBCC;
    line-height: 20px;
}

footer a {
    display: block;
    padding: 0 15px;
    text-decoration: none;
    color: #000000;
}


.nav {
    border-bottom: dashed 1px #c6c6c6;
}

.contents {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

#cr {
    color: #969696;
    font-size: 13px;
    padding-bottom: 20px;
}


.left {
    text-align: left;
}

.right {
    text-align: right;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.clear {
    clear: both;
}

.right {
    text-align: right;
}

.top_none {
    margin-top: 0px;
}
